[data-md-color-scheme="default"] {
  --md-footer-bg-color: #ffffff;
  --md-footer-bg-color--dark: #ffffff;
  --md-footer-fg-color: #000000;
  --md-footer-fg-color--light: #000000;
  --md-footer-fg-color--lighter: #000000;
  --md-footer-fg-color--dark: #000000;
  --md-footer-fg-color--darker: #000000;
  --md-footer-fg-color--strong: #000000;
}